.note {
    background-color: #08469e;
    padding: 7px;
    margin-top: 10px;
    border-radius: 15px;
    border-color: #052c63;
    border-style: solid;
    border-width: medium;
}

.warning {
    background-color: #db0b35;
    padding: 7px;
    margin-top: 10px;
    border-radius: 15px;
    border-color: #a60223;
    border-style: solid;
    border-width: thin;
}